.content {
  margin: 1rem;
}

.loader {
  display: none;
}

.navbar-container {
  display: none;
}

.image-container {
  /* width: 100%; */
  height: 16rem;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.avatar {
  width: 3rem;
  height: 3rem;
  background-color: #ececec;
  border-radius: 50%;
}

.review-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review-username {
  line-height: 100%;
}

a:hover {
  background-color: #ffffff;
}

.reserve-btn:hover {
  background-color: var(--vt-c-theme);
}

.image-count {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 0.3rem 1rem;
  margin-left: auto;
}

.hero-buttons-container {
  width: 100%;
}

.fade-bg {
  background: #d9d9d9;
}

.map-container {
  width: 100%;
}

.map {
  height: 13.125rem;
}

.cta-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.desktop-cta-container {
  display: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cta-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
  padding: 1rem;
  background-color: #fff;
}

/* @media (min-width: 1024px) {
  .navbar-container {
    display: block;
  }

  .image-container {
    display: none;
  }

  .cta-container {
    display: none;
  }

  .details-container {
    margin-top: 4rem;
    width: 60%;
  }

  .action-container {
    justify-content: flex-start;
  }

  .desktop-cta-container {
    display: block;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    width: calc(50% - 5rem);
    margin-left: 5rem;
    height: fit-content;
    padding: 1.5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
  }

  .price-breakdown {
    width: 100%;
    margin-top: 1rem;
  }

  .price-breakdown tr td:nth-child(2) {
    text-align: right;
  }

  .resort-basic-info {
    display: flex;
    gap: 1rem;
  }
} */
